.calculator {
  width: 25%;
  padding: 7rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.calc-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.wrap {
  text-align: center;
  height: 3.5rem;
  border: none;
}

.shwo-result {
  background-color: #858694;
  height: 3.5rem;
  color: #fff;
  padding-left: 1rem;
}

button {
  background-color: #e0e0e0;
}

.orange {
  background-color: #f5913e;
}

.wide {
  grid-column-start: span 2;
}
